[Unit]
Description=Tg Bot
After=network.target

[Service]
User=root
WorkingDirectory=/home/telegram-phishing/
ExecStart=/usr/bin/python3 /home/telegram-phishing/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target