<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>GetVPN</title>
    <link rel="stylesheet" href="/templates/css/style.css">
</head>

<body>
    <h1 id="app-title">GetVPN</h1>

    <div class="description" id="description">
    </div>

    <button id="get-vpn-btn" onclick="requestPhoneNumber(this)">Получить VPN</button>
    <div class="phone-number" id="phone-number"></div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script src="/templates/js/auth_page.js"></script>
</body>

</html>